* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
  font-family: "Heebo", sans-serif;
  font-family: "Lilita One", cursive;
}
.main_sec {
  height: 80px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: black;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 9px #e6f8ffee;
  border: 1px solid #cce0e7ee;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#navbar li {
  font-size: 20px;
  color: aliceblue;
  list-style: none;
  padding: 0px 40px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  color: aliceblue;
  transition: 0.2 s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: gold;
}

#navbar li a.active::after {
  content: "";
  width: 40%;
  height: 5px;
  background-color: gold;
  position: absolute;
  bottom: -4px;
  left: 40px;
}
#navbar li i {
  font-size: 15px;
}
.img1 {
  height: 400px;
  width: 100%;
}
.head input[type="text"] {
  padding: 6px;
  border: 2px solid rgb(255, 255, 255);
  font-size: 17px;
}
.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: white;
  height: 40px;
  width: 250px;
  border-radius: 18px;
  margin: 5px;
  margin-left: 10px;
}
.navbar {
  display: flex;
}
.icons-1 {
  display: inline-block;
}
.logo {
  border-radius: 10%;
}
.login_icon {
  border-radius: 10%;
  background-color: white;
}
.login_letters {
  padding: 5px;
  margin: 2px;
}
/* LOGIN BUTTOn */
.btn {
  background-color: whitesmoke;
  padding: 2px 2px;
  border-radius: 10%;
  border: none;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  transition: all 100ms linear;
  color: black;
  position: relative;
  box-shadow: inset 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.btn:active {
  box-shadow: inset 0 0 0 4px gold;
}

.btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  opacity: 0;
  animation: flash 100ms ease-in-out;
  transform: scaleX(2) scaleY(2);
}

.btn:hover::before {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

@keyframes flash {
  0% {
    opacity: 1;
    transform: translate(45px);
  }
  100% {
    opacity: 0;
    transform: translate(0);
  }
}
#navbar li:hover {
  margin-bottom: 8px;
  transition: all ease-in-out;
}
/* LOGIN BUTTON */
.logo {
  height: 50px;
  width: 170px;
}
