#product1 {
  background-color: white;
  /*background-color:  rgb(221, 239, 255); */
  text-align: center;
}
.feat-1 {
  font-size: 60px;
  color: rgba(237, 132, 27, 0.775);
}
.feat-2 {
  font-size: 35px;
  font-style: italic;
  color: black;
}
#product1 .pro-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  background-color: whitesmoke;
  position: relative;
  width: 23%;
  min-width: 250px;
  border: 2px solid #ccdae7ee;
  padding: 10px 12px 0px 12px;
  cursor: pointer;
  box-shadow: 15px 15px 20px #cce0e7ee;
  margin: 10px 2px 15px 2px;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px #88aebbee;
}

#product1 .pro img {
  width: 100%;
  height: 272px;
  border-radius: 20px;
}
#product1 .pro img:hover {
  width: 90%;
  height: 252px;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 5px 5px;
}
#product1 .pro .des .brand {
  text-align: center;
}
#product1 .pro .des span {
  font-size: 20px;
  color: #212121;
}
#product1 .pro .des h2 {
  margin-top: 8px;
  font-size: 25px;
  color: #212121;
}
#product1 .pro .des .star i {
  color: rgb(213, 188, 45);
  font-size: 20px;
}
#product1 .pro .des h4 {
  color: #388e3c;
}
.cartBtn {
  font-size: 23px;
  line-height: 30px;
  /*color:#ff9f00;  */
  color: #212121;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.cartBtn {
  width: 100px;
  height: 40px;
  border: 2px solid #388e3c;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: #e1e7e1;
  font-size: 1.2em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
}
.cartBtn:hover {
  background: #388e3c;
  color: white;
  font-size: 1.2em;
  /* border: 2px solid rgb(11, 11, 11); */
}
#product1 .pro .addtocart i:hover {
  color: #388e3c;
}

#product1 .pro .whislist i {
  position: absolute;
  bottom: 75px;
  right: 25px;
  font-size: 22px;
}
#product1 .pro .whislist i:hover {
  color: rgb(235, 101, 123);
}
.fa-cart-shopping {
  font-size: 40px;
  /*color:#ff9f00;  */
  color: #212121;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.my-title {
  font-size: 50px !important;
}
